@model IEnumerable<cb716316_christian_MIS4200.Models.Schedule>

@{
    ViewBag.Title = "Schedules";
}

<h2>Schedules</h2>

<div class="container">
    <div class="well">These schedules include a student and the semester that the schedule occurs during.</div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.semester)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semester)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.scheduleID }) |
                @Html.ActionLink("Details", "Details", new { id = item.scheduleID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.scheduleID })
            </td>
        </tr>
    }

</table>
<span class="glyphicon glyphicon-home"></span> -
<a class="btn btn-primary" @Html.ActionLink("Home", "Index", "Home")</a>
